
  <!-- <div *ngIf="myProfile !==undefined"> -->

  <div class="container__StyledProfileAndReservesMainContainer">
    <section id="profile" class="left__StyledProfileLeftSection">
      <div class="main__StyledProfileMain">
        <div title="Mi perfil" class="text__StyledTextProfile">
          <p>Mi perfil</p>
        </div>
        <div class="form__StyledProfileForm">
          <div class="form__StyledFormUser">

            <div class="courses-container">
              <div class="course">
                <div class="course-preview">
                  <div class="img">
                    <!-- <img [src]="myProfile.img_avatar ? imgPath + myProfile.img_avatar : './../../../../assets/user.png'"
                      alt=""> -->
                  </div>
                </div>
                <div class="course-info">
                  <div class="progress-container">
                  </div>
                  <h2><span>Nombre:</span>{{ myProfile.name }}</h2>
                  <h2><span>Compañía:</span>{{ myProfile.company }}</h2>
                  <h2><span>Cambiar contraseña:</span></h2>
                  <button class="pass-btn" title="Elige una nueva contraseña" type="button" data-bs-toggle="modal"
                    data-bs-target="#editPassword"><i class="fa-solid fa-key password"></i></button>
                  <app-password [myProfile]="myProfile"></app-password>
                  <input class="img-root" id="image" type="file" value="Cambiar foto de perfil">
                </div>
              </div>
            </div>
          </div>
          <div class="icon__logout">
            <button (click)="logout()" *ngIf="router.url === '/profile'"><i class="fa-solid fa-arrow-right-from-bracket"
                title="Logout"></i></button>
          </div>
        </div>
      </div>
    </section>
    <section class="right__StyledProfileRightSection">
      <div id="reserves" class="main__StyledReservesMain">
        <div title="Mis reservas" class="text__StyledTextReserves">
          <p>Mis reservas</p>
        </div>
        <div class="cards__StyledReservesCards">
          <div class="app__StyledReserveApp">
            <div class="courses-container-back">
              <app-reserve></app-reserve>
            </div>
            <p></p>
          </div>
          <!-- <div class="icon__toTop">
              <a href="#/profile"><i class="fa-solid fa-angle-up"></i></a>
            </div> -->
        </div>
      </div>
    </section>
  </div>
  <!-- </div> -->
