
  <div class="courses-container">
    <div class="course">
      <div class="course-preview">
        <h6>Reserva Nº</h6>
        <h2>Reserva</h2>
        <a routerLink="['/calendar']">Ver las reservas de todos los grupos</a>
      </div>
      <div class="course-info">
        <div class="progress-container">
        </div>
        <h2><span>Fecha:</span> La fecha de inicio fue el 24/03/2022</h2>
        <h2><span>Sala:</span> La sala reservada fue 'Espacio Ares'</h2>
        <h2><span>Duración:</span> La reserva tuvo una duración de 120 minutos</h2>
      </div>
    </div>
  </div>
  <div class="courses-container">
    <div class="course">
      <div class="course-preview">
        <h6>Reserva Nº</h6>
        <h2>Reserva</h2>
        <a routerLink="['/calendar']">Ver las reservas de todos los grupos</a>
      </div>
      <div class="course-info">
        <div class="progress-container">
        </div>
        <h2><span>Fecha:</span> La fecha de inicio fue el 1/04/2022</h2>
        <h2><span>Sala:</span> La sala reservada fue 'Espacio Ultrón'</h2>
        <h2><span>Duración:</span> La reserva tuvo una duración de 60 minutos</h2>
      </div>
    </div>
  </div>

