
  <div class="courses-container">
    <div class="course">
      <div class="course-preview">
        <h6>Reserva Nº:</h6>
        <h6>
          {{ reserve.id_reserve }}
        </h6>
        <h2>
          {{ user.name }}
        </h2>
        <h2>
          {{ user.company }}
        </h2>
      </div>
      <div class="course-info">
        <div class="progress-container">
        </div>
        <h3><span>Fecha:</span>
          {{ reserve.date | date: 'dd-MM-yyyy HH:mm'}}
        </h3>
        <h3><span>Sala:</span>
          Se ha reservado la sala {{ reserve.spaceId }} en el espacio {{ reserve.crew }}
        </h3>
        <h3><span>Notas:</span>
          {{ reserve.description }}
        </h3>
      </div>
    </div>
  </div>



