<div class="container">
  <div class="right">
     <div class="header">
      <h2 class="animation a1">¡Bienvenido/a!</h2>
      <h4 class="animation a2">Completa los campos para formalizar el registro.</h4>
    </div>
    <form>
      <div class="form">   
        <input type="text" class="form-field animation a3" placeholder="Nombre*">     
        <input type="text" class="form-field animation a3" placeholder="Apellidos*">
        <input type="email" class="form-field animation a3" placeholder="E-mail*">
        <input type="password" class="form-field animation a3" placeholder="Contraseña*">
        <input type="password" class="form-field animation a3" placeholder="Confirma tu contraseña*">
        <p>Selecciona tu compañía:</p>
        <div class="labels">
          <label><input type="radio" name="space" class="form-field animation a4">Bravent</label>
          <label><input type="radio" name="space" class="form-field animation a4">Bitwork</label>
        </div>
          <input type="submit" class="resume-button" value="ACEPTAR">
      </div>
    </form>
  </div>
</div>
