
  <form [formGroup]="formReserve" (ngSubmit)="onSubmit()">


    <div class="container__StyledMainContainer">
      <section class="left__StyledSpacesLeftSection">
        <div class="grid__StyledGridSpaces">
          <div class="text__StyledText">
            <p>Selecciona tu <span>espacio</span></p>
          </div>
          <div class="separador-salareuniones">
            <div class="text">
              <p>Sala de reuniones</p>
              <div class="sala-de-reuniones">
                <input id="checkbox-0" class="checkbox" value="reuniones" formControlName="spaceId" name="spaceId"
                  type="radio">
                <label for="checkbox-0"><i class="fa-solid fa-handshake">0</i>
                </label>
              </div>
            </div>
            <div class="text">
              <p>Espacio central Ultrón</p>
              <div class="espacio-central-1">
                <input id="checkbox-0" class="checkbox" value="puesto12" formControlName="spaceId" name="spaceId"
                  type="radio">
                <label for="checkbox-0"><i class="fa-solid fa-computer">1</i>
                </label>
                <input id="checkbox-1" class="checkbox" value="puesto13" formControlName="spaceId" name="spaceId"
                  type="radio">
                <label for="checkbox-1"><i class="fa-solid fa-computer">2</i>
                </label>
                <input id="checkbox-2" class="checkbox" value="puesto14" formControlName="spaceId" name="spaceId"
                  type="radio">
                <label for="checkbox-2"><i class="fa-solid fa-computer">3</i>
                </label>
                <input id="checkbox-3" class="checkbox" value="puesto15" formControlName="spaceId" name="spaceId"
                  type="radio">
                <label for="checkbox-3"><i class="fa-solid fa-computer">4</i>
                </label>
              </div>
            </div>
          </div>
          <div class="grid__StyledGridSpaces-2">
            <div class="text">
              <p>Espacio Eris Bitwork</p>
              <div class="separador-sala-1">
                <input id="checkbox-4" class="checkbox" value="puesto1" formControlName="spaceId" name="spaceId"
                  type="radio">
                <label for="checkbox-4"><i class="fa-solid fa-computer">1</i>
                </label>
                <input id="checkbox-5" class="checkbox" value="puesto2" formControlName="spaceId" name="spaceId"
                  type="radio">
                <label for="checkbox-5"><i class="fa-solid fa-computer">2</i>
                </label>
                <input id="checkbox-6" class="checkbox" value="puesto3" formControlName="spaceId" name="spaceId"
                  type="radio">
                <label for="checkbox-6"><i class="fa-solid fa-computer">3</i>
                </label>
                <input id="checkbox-7" class="checkbox" value="puesto4" formControlName="spaceId" name="spaceId"
                  type="radio">
                <label for="checkbox-7"><i class="fa-solid fa-computer">4</i>
                </label>
              </div>
            </div>
            <div class="text">
              <p>Espacio central Ares</p>
              <div class="espacio-central-2">
                <input id="checkbox" class="checkbox" value="16" formControlName="spaceId" name="spaceId" type="radio">
                <label for="checkbox-8"><i class="fa-solid fa-computer">5</i>
                </label>
                <input id="checkbox-9" class="checkbox" value="17" formControlName="spaceId" name="spaceId"
                  type="radio">
                <label for="checkbox-9"><i class="fa-solid fa-computer">6</i>
                </label>
                <input id="checkbox-10" class="checkbox" value="18" formControlName="spaceId" name="spaceId"
                  type="radio">
                <label for="checkbox-10"><i class="fa-solid fa-computer">7</i>
                </label>
                <input id="checkbox-11" class="checkbox" value="19" formControlName="spaceId" name="spaceId"
                  type="radio">
                <label for="checkbox-11"><i class="fa-solid fa-computer">8</i>
                </label>
              </div>
            </div>
          </div>
          <div class="grid__StyledGridSpaces-3">
            <div class="text">
              <p>Espacio Ceres</p>
              <div class="separador-sala-2">
                <input id="checkbox-12" class="checkbox" value="5" formControlName="spaceId" name="spaceId"
                  type="radio">
                <label for="checkbox-12"><i class="fa-solid fa-computer">5</i>
                </label>
                <input id="checkbox-13" class="checkbox" value="6" formControlName="spaceId" name="spaceId"
                  type="radio">
                <label for="checkbox-13"><i class="fa-solid fa-computer">6</i>
                </label>
              </div>
            </div>
            <div class="espacio-central-3">
              <div class="text">
                <p>Espacio Plutón Marketing</p>
                <div class="espacio-3">
                  <div class="espacio">
                    <input id="checkbox-14" class="checkbox" value="puesto5" formControlName="spaceId" name="spaceId"
                      type="radio">
                    <label for="checkbox-14"><i class="fa-solid fa-computer">7</i>
                    </label>
                  </div>
                  <div class="espacio-4">
                    <input id="checkbox-15" class="checkbox" value="puesto6" formControlName="spaceId" name="spaceId"
                      type="radio">
                    <label for="checkbox-15"><i class="fa-solid fa-computer">8</i>
                    </label>
                    <input id="checkbox-16" class="checkbox" value="puesto7" formControlName="spaceId" name="spaceId"
                      type="radio">
                    <label for="checkbox-16"><i class="fa-solid fa-computer">9</i>
                    </label>
                    <input id="checkbox-17" class="checkbox" value="puesto8" formControlName="spaceId" name="spaceId"
                      type="radio">
                    <label for="checkbox-17"><i class="fa-solid fa-computer">10</i>
                    </label>
                    <input id="checkbox-18" class="checkbox" value="puesto9" formControlName="spaceId" name="spaceId"
                      type="radio">
                    <label for="checkbox-18"><i class="fa-solid fa-computer">11</i>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="text">
                <p>Espacio central Thanos</p>
                <div class="interior-espacio-central-3">
                  <input id="checkbox-19" class="checkbox" value="puesto20" formControlName="spaceId" name="spaceId"
                    type="radio">
                  <label for="checkbox-19"><i class="fa-solid fa-computer">9</i>
                  </label>
                  <input id="checkbox-20" class="checkbox" value="puesto21" formControlName="spaceId" name="spaceId"
                    type="radio">
                  <label for="checkbox-20"><i class="fa-solid fa-computer">10</i>
                  </label>
                  <input id="checkbox-21" class="checkbox" value="puesto22" formControlName="spaceId" name="spaceId"
                    type="radio">
                  <label for="checkbox-21"><i class="fa-solid fa-computer">11</i>
                  </label>
                  <input id="checkbox-22" class="checkbox" value="puesto23" formControlName="spaceId" name="spaceId"
                    type="radio">
                  <label for="checkbox-22"><i class="fa-solid fa-computer">12</i>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="right__StyledFormRightSection">
        <div class="date__StyledDateForm">
          <div class="text__StyledText">
            <p>Elige tus <span>opciones:</span></p>
          </div>
        </div>
        <div class="container">
          <div class="right">
            <div class="header">
              <h4 class="animation a2">*Completa los campos para formalizar la reserva.</h4>
            </div>
            <div class="form">
              <select name="daySelect" class="form-field animation a3" formControlName="date">
                <option value="" selected disabled>Quiero reservar para dentro de:</option>
                <option value="2">24 horas</option>
                <option value="3">48 horas</option>
              </select>
              <input type="date" name="daySelect" class="form-field animation a3" formControlName="date">
              <input maxlength="150" type="text" class="form-field animation a3"
                placeholder="*Descripción de la reserva (max.150)" formControlName="description">
              <input type="submit" class="resume-button" value="ACEPTAR">
            </div>
          </div>
        </div>
      </section>
    </div>
  </form>
