<main class="pages__StyledMainContainer">
          <section id="start" class="hero__StyledHeroSection">
            <!-- <div class="fadeup-enter-done">
              <h1>
                 Gestión de espacios
              </h1>
            </div> -->
            <div>
              <p class="hero__StyledTextHero">
                Gestión de reservas
              </p>
              <br>
            </div>
            <div class="fadeup-enter-done">
              <h3>
                ¿Quieres reservar tu <br> <span>espacio de trabajo?</span>
              </h3>
            </div>
                  <div>
              <a href="#" class="resume-button" target="_blank" style="transition-delay: 100ms;">¡SÍ, QUIERO!</a>
            </div>
          </section>
        </main> 





<section>
  <div class="main-section">
    <div class="container">
      <div class="container1 oficinas-izquierda">
      </div>
      <div class="container2 isla-central"></div>
      <div class="container3 oficinas-derecha"></div>
    </div>
  </div>
</section>
